[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
icalendar = "==4.0.9"
caldav = ">=1.0.1"
apscheduler = "==3.10.4"
colorama = "==0.4.6"
regex = "*"

[dev-packages]
netifaces = "*"
pydevd = "*"
pylint = "*"

[requires]
python_version = "3.11"
